@charset "UTF-8";
@font-face {
  font-family: e-Ukraine;
  font-display: swap;
  src: url("../src/fonts/e-Ukraine-UltraLight.woff2") format("woff2"), url("../src/fonts/e-Ukraine-UltraLight.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
    font-family: e-Ukraine-reg;
    font-display: swap;
    src: url("../src/fonts/e-Ukraine-Regular.woff2") format("woff2"), url("../src/fonts/e-Ukraine-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
  }

body{
    font-family: e-Ukraine;
    font-size: 16px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

header{
    background: #605DEC;
    padding: 8px 0 8px 92px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
    
}
.logo{
padding-left: 30px;
}

nav{
    width: 100%;
}

ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.menu__text{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    position: relative;
}


.menu__text:after {
    content: "";
    height: 2px;
    background: #fff;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -6px;
    opacity: 0;
    transform-origin: left center;
    transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
    transform: scale(0);
  }
  
  .menu__text:hover::after {
    transform: scale(1);
    opacity: 1;
  }

.language{
    display: flex;
    padding-right: 100px;
}
  
input[type="radio"]{
    display: none;
}


input[type="radio"]:checked + label{
    background-color: #fff;
    color: #605DEC;
}

.changelng{
    margin-left:9px;
    position: relative;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 5px;
    padding: 4px 19px 6px ;
}
.changelng:hover{
    background-color: #fff;
    color: #605DEC;
    cursor: pointer;
}

/* .language__btn {
    margin-left: 9px;
    position: relative;
    color: #fff;
    background-color: #605DEC;
    border: 2px solid #fff;
    border-radius: 5px;
    padding: 3px 19px 6px;
    line-height: 10px;
    transition: all 0.2s ease;
}

.language__btnOn {
    margin-left: 9px;
    position: relative;
    color: #605DEC;
    background-color: #fff;
    border: 2px solid #605DEC;
    border-radius: 5px;
    padding: 3px 19px 6px;
    line-height: 10px;
    transition: all 0.2s ease;
}
 
.language__btn:hover {
    background-color: #fff;
    color: #605DEC;
    cursor: pointer;
} */


/*------------Main-------------*/

main{  
    background: no-repeat center/80% url('../src/images/bg.jpg');
    background-size: cover;
    width: 100%;
    height: calc(100vh - 71px);
}

.search{
    padding-top: 200px;
    display: flex;
    justify-content: center;
    font-family: e-Ukraine;
    font-size: 14px;   
}

.dropdown{
    border: 1px #bdc3d0 solid;
    padding-left: 20px;
    height: 50px;
    width: 315px; 
    font-family: e-Ukraine;
    font-size: 14px;
}

.dropdown:hover{
    border: 2px #605DEC solid;
}

.dropdown1{
    border: 1px #bdc3d0 solid;
    padding-left: 20px;
    border-left: 0;
    height: 50px;
    width: 315px;    
    font-family: e-Ukraine;
    font-size: 14px;
}

.dropdown1:hover{
    
    border: 2px #605DEC solid;
}

.calendar{
    
    border: 1px #bdc3d0 solid;
    padding-left: 20px;
    height: 48px;
    width: 200px; 
    border-left: 0;
    font-family: e-Ukraine;
    font-size: 14px;
    
}

.calendar:hover{
    border: 1px #605DEC solid;
}

.text{
    padding-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    pointer-events: none;
}

.search__btn{
    padding: 15px 20px;
    font-family: e-Ukraine-reg;
    font-size: 14px;
    color: #fff;
    border:#605DEC solid 1px;
    border-radius: 3px;
    cursor: pointer;
    background-color: #605DEC;
    transition: all 0.3s ease;
}

.search__btn:hover{
    background-color: #423fc2;
}

/*-------------PopUp-------------*/
.popup__infocontainer{
    margin: 0px 30px;
    display: flex;
    margin-bottom: 3px
}

.par{
    margin: 0;
    margin-right: 115px;
}
.par.second{
    margin-right: 130px;
}
.par.third{
    margin-right: 80px;
}


.popup__container{
    height: 100%;
    display: flex;
    justify-content:center;
    align-items:flex-end;
    padding: auto 0;
    font-family: e-Ukraine;
    font-size: 16px;
}

.pop{
    font-family: e-Ukraine;
    font-size: 13px;
    border: 1px #605DEC solid;
    height: 24px;
    border-left: none;
}
.pop.from{
    border-left: 1px #605DEC solid;
}

.pop.date{
    height: 26px;
}

.order__btn{
    font-family: e-Ukraine-reg;
    font-size: 12px;
    height: 28px;
    border-radius: 3px;
    border: #605DEC 1px solid;
    color: #fff;
    background-color: #605DEC;
    cursor: pointer;
    transition: 0.3s ease;
}

.order__btn:hover{
    background-color: #423fc2;
}

.form__item{
    display:grid;
    padding: 0;
    margin: 0;
    justify-content:center;
}

.topraw{
    display:grid;
    justify-content:center;
}
